<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body class="<%= session.user.color %>">
    <%- include("./partials/header") %>


   <main>
    <div>
        <p class="centro"><%= `${session.user.name} ,gracias por visitarnos!` %></p>
    </div>
   </main>


</body>
</html>