<header>
<ul class="nav">
    <li>
        <a href="/">Home</a>

    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/welcome">Bienvenida</a>
    </li>
    <li>
        <form action="/destroy" method="post" class="form-header">
            <button type="submit">Destruir cookie</button>
        </form>
    </li>
</ul>
</header>